/* ---------------------------------------------------------------------- Color Scheme + Font */
@import url('https://fonts.googleapis.com/css2?family=Candal&family=Gotu&family=Montserrat&family=Source+Code+Pro&display=swap');
:root {
    --highlight: #66FCF1;
    --highlightShade: #45A29E;
    --contrast: #0B0C10;
    --contrastShade:  #151515;
    --light: #C5C6C7;
    --titleFont: 'Candal', sans-serif;
    --bodyFont1: 'Gotu', sans-serif;
    --bodyFont2: 'Montserrat', sans-serif;
    --bodyFont3: 'Source Code Pro', monospace;
}
body{
    font-family: var(--bodyFont1);
}
.active a{
    background-color:  var(--highlightShade) !important;
}
.icon-bar{
    background-color: var(--highlight) !important;
}
.navbar-toggle{
    background-color: transparent; 
    border:none;
}
li{
    list-style-type: none;
}
.section_title{
    width: 100%;
    float: left;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 2em;
    letter-spacing: 4px;
}
/* ---------------------------------------------------------------------- Home Section */
#Section_Home{
    height: 700px;
    background-color: white;
    z-index: 1;
}
#Section_Home .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #0B0C10 50%, #1F2833 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position: absolute;
    right:-50%;
    top:0;
    z-index: -1;
}
#Section_Home .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
#Section_Home .bg3 {
    animation-duration:5s;
}
#Section_Home .content {
    color: white;
    font-family: var(--titleFont);
    position: relative;
    text-align:center;
    left:50%;
    top: 45%;
    transform:translate(-50%, -50%);
}
#Section_Home .content div{
    margin-top: 6%;
}
#Section_Home .content div a{
    position: relative;
    padding: 15px 25px;
    letter-spacing: 3px;
    color: white;
    border: 5px solid var(--highlight);
    margin-top: 200px;
    text-decoration: none;
    transition:0.5s;
    transform: scaleX(1);
}
#Section_Home .content div a:hover{
    border: 0px solid var(--highlight);
}
#Section_Home .content div a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #56CFC7;
    transform-origin: left;
    transition: transform 0.5s ease;
    transform: scaleX(0);
    z-index: -1;
}
#Section_Home .content div a:hover:before{
    transform-origin: right;
    transition: transform 0.5s ease;
    transform: scaleX(1);
}
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

/* ---------------------------------------------------------------------- About Section */
#Section_About{
}
#Section_About .why_me{
    width: 98%;
    position: relative;
    margin-left: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap;
    margin-bottom: 100px;
}
#Section_About .why_me .card{
    position: relative;
    margin: 0 10px;
    float: left;
}
#Section_About .why_me .card .face{
    width: 280px;
    transition: 0.5s;
}
#Section_About .why_me .card .face.face1{
    height: 200px;
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(50px);

}
#Section_About .why_me .card:hover .face.face1{
    background: var(--highlightShade);
    transform: translateY(0);
}
#Section_About .why_me .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}
#Section_About .why_me .card:hover .face.face1 .content{
    opacity: 1;
}
#Section_About .why_me .card .face.face1 .content .icons{
    font-size: 5em;
    color: #fff;
    text-align: center;
}
#Section_About .why_me .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
#Section_About .why_me .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-50px);
    height: 100px;
    box-shadow: 2.5px 2.5px 20px rgba(0,0,0,0.1);
}
#Section_About .why_me .card:hover .face.face2{
    transform: translateY(0);
}
#Section_About .why_me .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}
/* ---------------------------------------------------------------------- Services Section */
#Section_Services{
    height: 700px;
    border: 2px solid black;
    background-color: white;
}

/* ---------------------------------------------------------------------- Portfolio Section */
#Section_Portfolio{
    height: 700px;
    background-color: white;
}

/* ---------------------------------------------------------------------- Pricing Section */
#Section_Pricing{
    width: 100%;
    background-color: white;
    background: linear-gradient(205deg, #393939 50%, transparent 50%);
}
/* ---------------------------------------------------------------------- Contact Section */
#Section_Contact{
    width: 100%;
    min-height: 100vh;
    background-color: white;
}
#Section_Contact .container{
    position: relative;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 155px 2.5%;
    padding-top: 0
}
#Section_Contact .container form{
    width: 95%;
    margin:0 2.5%;
    position: relative;
    padding: 0 0px;
    background-color: white;
}
#Section_Contact .container form .inputBox{
    position: relative;
    margin-bottom: 50px;
    width: 47%;
    float: left;
    margin-left: 2%;
}
#Section_Contact .container form .inputBox:last-child{
    margin-bottom: 0px;
    width: 94%;
    text-align: center;
    margin-left: 2%;
}
#Section_Contact .container form .inputBox input{
    position: relative;
    background-color: transparent;
    outline: none;
    border:none;
    width: 100%;
    color: black;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300px;
    border-bottom: 2px solid gray;
    resize: none;
}
#Section_Contact .container form .inputBox span{
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 300px;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: gray;
    transition: all 0.2s;
}
#textarea_box{
    position: relative;
    margin-bottom: 20px;
    width: 94%;
    float: left;
    margin-left: 2%;
}
#textarea_box textarea{
    position: relative;
    background-color: transparent;
    outline: none;
    border:none;
    width: 100%;
    color: black;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300px;
    border-bottom: 2px solid gray;
    resize: none;
    height: 200px;
}
#textarea_box span{
    position: absolute;
    left: 0;
    font-size: 16px;
    font-weight: 300px;
    display: inline-block;
    pointer-events: none;
    letter-spacing: 1px;
    color: gray;
    transition: all 0.2s;
}
.btn{
   width: 135px;
   height: 40px;
   border: 3px solid var(--highlightShade);
   background-color: white;
   border-radius: 40px;
   color: var(--highlightShade);
   letter-spacing: 2px;
   outline: none !important;
   text-shadow: 0;
   transition: all 0.25s ease;
}
.btn:hover{
    background-color: var(--highlightShade);
    color: white;
    outline: none;
}
.btn:focus{
    background-color: white;
    color: var(--highlightShade);
    outline: none;
}
.btn:active{
    letter-spacing: 4px;
    outline: none;
}
.btn:after{
    font-weight: bolder;
    content: "SUBMIT";
    outline: none;
}
.onclic{
    width: 40px;
    border-color: #bbb;
    border-width: 4px;
    font-size: 0;
    outline: none;
    border-left-color: var(--highlightShade);
    animation: rotating 2s 0.25s linear infinite;
}
.validate{
    background-color: var(--highlightShade);
    color: white;
    font-size: 13px;
    outline: none;
}
.validate:focus{
    background-color: var(--highlightShade);
    color: white;
    font-size: 13px;
    outline: none;
}
.validate:after{
    font-family: FontAwesome;
     content: "\f00c";
     outline: none;
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.label_move_up_highlight{
    transform: translateY(-24px);
    font-size: 14px !important;
    font-weight: bolder;
}
/* ---------------------------------------------------------------------- Footer Section */
#Section_Footer{
    height: auto;
}
#subSection_Sentence{
    padding: 50px 50px;
    background-color: var(--highlightShade);
    color: white;
    font-size: 3.5vw;
    text-align: center;
}
#subSection_Info{
    background-color: var(--contrastShade); 
    padding: 30px 0;
    padding-bottom: 0;
}
#subSection_Info .box{
    padding: 25px 0;
}
#subSection_Info .title{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
#subSection_Info .body{
    color: lightgray;
    margin-top: 10px;
}
#subSection_Info .body li{
    margin-bottom: 20px;
}
#subSection_Info .body li a{
    text-decoration: none;
    color: lightgray;
}
#subSection_Info .body li i{
    color: var(--highlight);
    margin-right: 15px;
    margin-bottom: 15px;
}
.socials{
    word-spacing: 1.5vw;
    padding-top: 10px;
}
.socials a{
    color: var(--highlight);
    text-decoration: none;
}
#subSection_Copyright{
    background-color: #151515;
    padding-bottom: 50px;
    text-align: center;
    color: lightgray;
    letter-spacing: 2px;
    word-spacing: 2.5px
}

/* ---------------------------------------------------------------------- Extra Small Screen (xs) */
@media (max-width: 768px) {
    #Section_Home .content div{
        margin-top: 12%;
    }
    #subSection_Sentence{
        font-size: 4vw;
        padding: 25px 50px;
    }
    #subSection_Info .box:nth-child(4) .body .socials{
        word-spacing: 4vw;
    }
    #subSection_Info .box:nth-child(3){
        padding-left: 5vw;
    }
    #subSection_Info .box:nth-child(4){
        margin-bottom: 40px;
    }
    #Section_Contact .container form .inputBox{
        width: 94%;
        margin-left: 2%;
    }
}

/* ---------------------------------------------------------------------- Small Screen  (sm) */
@media (min-width: 769px) {
    #Section_Home .content div{
        margin-top: 12%;
    }
    #subSection_Sentence{
        font-size: 4vw;
        padding: 35px 50px;
    }
    #subSection_Info .box:nth-child(3){
        padding-left: 0;
    }
    #subSection_Info .box:nth-child(4){
        margin-bottom: 0;
    }
}

/* ---------------------------------------------------------------------- Medium Screen (md) */
@media (min-width: 992px) {
    #Section_Home .content div{
        margin-top: 6%;
    }
    #subSection_Sentence{
        font-size: 3.5vw;
        padding: 50px 50px;
    }
    #subSection_Info .box:nth-child(1){
       padding-right: 50px;
   }
}

/* ---------------------------------------------------------------------- Large Screen  (lg) */
@media (min-width: 1380px) {
   #subSection_Info .box:nth-child(1){
       padding-right: 50px;
   }
}